::selection {
  background: #e31f80;
  color: white; }

::-moz-selection {
  background: #e31f80;
  color: white; }

@font-face {
  font-family: DefaultFont;
  src: url("https://s3.amazonaws.com/ixassets/fonts/DefaultNormal.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  font-family: Lato;
  color: #2e3137;
  line-height: 1.4; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.background-img {
  background-image: url("../images/tablemtnview.jpg");
  background-size: cover;
  height: 100vh; }

.title-jumbotron {
  opacity: 0.5;
  height: 100vh; }

.hero {
  height: 100vh;
  width: 100vw;
  background-color: #e31f80;
  background-image: url("../images/tablemtnview.jpg");
  background-size: cover;
  color: white;
  font-size: 60px; }
  .hero div {
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-30%, -50%);
    display: inline-block;
    min-width: 300px; }
  .hero h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 300; }
    .hero h1 span {
      display: inline-block;
      background: #e31f80;
      padding: 12px 4px 0px 8px;
      line-height: 0.8;
      font-weight: 100;
      text-transform: uppercase;
      font-family: DefaultFont; }
  .hero h2 {
    font-weight: 300;
    font-size: 20px; }

.weeks-tabs {
  background: #F3F6F8; }
  .weeks-tabs ol {
    display: flex;
    margin: 0;
    padding: 0; }
  .weeks-tabs li {
    width: 20%;
    text-align: center;
    list-style: none; }
    .weeks-tabs li a {
      padding: 30px 0;
      display: block;
      border-bottom: 2px solid transparent;
      transition: all 0.2s; }
      .weeks-tabs li a:hover {
        border-bottom: 2px solid #3a81ba; }
        .weeks-tabs li a:hover h4 {
          opacity: 1; }
    .weeks-tabs li h3 {
      text-transform: uppercase;
      font-size: 16px;
      color: #3a81ba;
      margin: 0 0 5px; }
    .weeks-tabs li h4 {
      font-size: 12px;
      margin: 0;
      color: #434343;
      opacity: 0.4; }

.week {
  padding-top: 30px; }
  .week h2 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600; }
  .week h1 {
    font-size: 52px;
    font-weight: 300;
    margin-bottom: 20px; }

.block {
  padding: 20px 20px 40px 20px;
  border-radius: 3px;
  border: 1px solid #F3F6F8;
  margin: 30px 0; }

.block__contents {
  max-width: 750px;
  text-align: left;
  margin: 0px auto;
  font-size: 18px;
  font-weight: 300; }

.block--full {
  text-align: center; }
