body {
  font-family: Lato; }

.background-img {
  background-image: url("../images/tablemtnview.jpg");
  background-size: cover;
  height: 100vh; }

.title-jumbotron {
  opacity: 0.5;
  height: 100vh; }
