<div class="hero">
	<div>
		<h1><span>You came.</span><br><span>You saw.</span><br><span>You learned.</span></h1>
		<h2>2016 iXperience Web Dev Session 1</h2>
	</div>
</div>
<div class="weeks-tabs">
	<ol>
		<li>
			<a href="#/week1"><h3>Week 1</h3><h4>HTML &amp; CSS</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>Week 2</h3><h4>JavaScript &amp; jQuery</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>Week 3</h3><h4>AngularJS</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>Week 4</h3><h4>Databases &amp; Projects</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>And beyond...</h3><h4>HTML &amp; CSS</h4></a>
		</li>
	</ol>
</div>

<!-- first -->
<div class="week container">
	<div class="row">
			<div class="block block--full">
				<h2>Week 1</h2>
				<h1>You arrive in Cape Town</h1>
				<div class="block__contents">
					<p>Class begins, you explore the city, and you make sixteen new friends. It is the beginning 
						of an epic summer (winter).</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius venenatis mi. Donec dictum dignissim aliquet. Proin fringilla orci quis magna laoreet semper. Aliquam tristique tincidunt justo, sed ultricies urna. Sed a sodales sapien, fermentum gravida tortor. Fusce ut vulputate arcu. Nam lobortis porta condimentum. Etiam eu finibus justo.</p>
						<p>Vestibulum venenatis scelerisque iaculis. Pellentesque nunc orci, placerat vel eros et, laoreet luctus nisi. In hac habitasse platea dictumst. Mauris ut molestie libero. Morbi faucibus eros sed fringilla suscipit. Donec eget varius nibh, eu iaculis mauris. Fusce efficitur condimentum est, vel volutpat nisl luctus nec.</p>
				</div>
				<p></p>
			</div>
			
		<div class="col-md-6">
			
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="www.allieivener.com">
				<div class="student">
					<img class="student-pic"  src="./images/allie.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Allie Ivener</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="">
				<div class="student">
					<img class="student-pic"  src="./images/rafi.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Rafi Khan</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://kcha16.github.io/">
				<div class="student">
					<img class="student-pic"  src="./images/kevin.jpeg" alt="">
				</div>
				<h3 class="caption person-caption">Kevin Cha</h3>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="http://ejelliott.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/ej.jpg" alt="">
				</div>
				<h3 class="caption person-caption">EJ Elliot</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://sahil505.github.io">
				<div class="student">
					<img class="student-pic" src="./images/sahil.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Sahil Khokar</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://stephkwok01.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/steph.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Steph Kwok</h3>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="http://samanthamashaal.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/smash.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Smash Mashaal</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://christinjh.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/christine.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Christine Hong</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://kellymcguffog.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/kelly.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Kelly McGuffog</h3>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="http://jcmiller017.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/jojo.jpg" alt="">
				</div>
				<h3 class="caption person-caption">JoJo Miller</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://chrismoxley.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/chris.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Chris Moxley</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://14perkinss.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/sam.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Sam Perkins</h3>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="http://rachelrub.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/rachel.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Rachel Rub</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://stellapickard.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/stella.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Stella Truter</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://lyreguin.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/michael.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Michael Venter</h3>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="http://francivanrhyn.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/franci.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Franci van Rhyn</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://allyrogge.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/allison.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Allison Rogge</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://pspecora.github.io">
				<div class="student">
					<img class="student-pic"  src="./images/pietro.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Pietro Pecora</h3>
			</a>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4">
			<a href="http://nbl5.github.io">
				<div class="student">
					<img class="student-pic" src="./images/nikki.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Nikki Levy</h3>
			</a>
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	
</div>
<!-- final projects -->

<!-- more resources -->

<!-- memory pics -->

<!-- message from teachers -->