<div class="hero">
	<div>
		<h1><span>You came.</span><br><span>You saw.</span><br><span>You learned.</span></h1>
		<h2>2016 iXperience Web Dev Session 1</h2>
	</div>
</div>
<div class="weeks-tabs">
	<ol>
		<li>
			<a href="#/week1"><h3>Week 1</h3><h4>HTML &amp; CSS</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>Week 2</h3><h4>JavaScript &amp; jQuery</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>Week 3</h3><h4>AngularJS</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>Week 4</h3><h4>Databases &amp; Projects</h4></a>
		</li>
		<li>
			<a href="#/week1"><h3>And beyond...</h3><h4>HTML &amp; CSS</h4></a>
		</li>
	</ol>
</div>

<!-- first -->
<div class="week container">
	<div class="row">
		<div class="col-md-6">
			<div class="block">
				<h1>You arrive in Cape Town</h1>
				<p>Class begins, and you explore the city. It is the beginning 
					of an epic summer (winter).</p>
			</div>
			
		</div>
		<div class="col-md-6">
			
		</div>
		
	</div>
	
	
</div>
<!-- final projects -->

<!-- more resources -->

<!-- memory pics -->
<div class="container" ng-controller="StudentCtrl">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/lionsheadgroup.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/dancing.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/elephants.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/rugby.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/safari.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/waterfront.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/tablemountain.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/welcome.jpeg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="./images/safari2.jpg" alt="">
			</div>
		</div>
	</div>
</div>

<!-- message from teachers -->