<div class="week container">
	<div class="row">
			<div class="block block--full">
				<h2>Week 3</h2>
				<h1>AngularJS</h1>
				<div class="block__contents">
					<p>Gabe and Ben arrived! This excitement easily made for the best part of our week. With Gabe's flowing locks and Ben's quiet genius, we knew the course got way better.</p>
					<p>Week 3 wasn't all fun and games, though. AngularJS rocked your world. What is the <em>ng-view</em> thing? This seemed even more magical than jQuery did. But then <em>$scope</em> got a little challenging and routers took over. But overall, AngularJS was life-changing. It allowed us to create <em>Chommies</em> and prop our brus.</p>
					<p>You rounded out week 3 with some wine tasting. But was it really just tasting? Rumor has it a bit more was consumed than a few elegant sips. But the pics look good, and that's all that matters right?</p>
				</div>
				<p></p>
			</div>
		<div class="col-md-6">
		</div>
	</div>
<div class="students-grid ben-gabe">
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-4">
			<a href="http://www.google.com">
				<div class="student">
					<img class="student-pic" src="./images/ben.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Ben Penchas</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="http://www.gabeboning.com">
				<div class="student">
					<img class="student-pic" src="./images/gabe.jpg" alt="">
				</div>
				<h3 class="caption person-caption">Gabe Boning</h3>
			</a>
		</div>
		<div class="col-md-2">
			
		</div>
	</div>
</div>

	<div class="row">
		<div class="col-md-8">
			<div class="week3-pic-div-big">
				<img class="week3-pic-big" src="./images/wine.jpg" alt="">
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-small" src="./images/kellynikki.jpg" alt="">
				</div>
			</div>
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-small" src="./images/allierafi.JPG" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-xs" src="./images/chommie1.png" alt="">
					<img class="week3-pic-xs" src="./images/chommie2.png" alt="">
				</div>
			</div>
			<div class="row">
				<div class="week3-pic-div-small">
					<img class="week3-pic-small" src="./images/night.png" alt="">
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="week3-pic-div-big">
				<img class="week3-pic-big" src="./images/group.jpg" alt="">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="block block--full">
			<h1>Taking HTML &amp; CSS Farther</h1>
			<div class="block__contents">
					<p>But what if you want animations that melt the faces off your visitors? What if you
						want to learn how to make super complex layouts? We've put together
						some resources that you can refer to as you go out and continue building things for 
						the web.</p>
			</div>
		</div>
	</div>
	
	<div class="row resources">
		<div class="col-md-4">
			<h3>HTML</h3>
			<ul>
				<li><a href="http://html5doctor.com/element-index/">HTML5 Element index</a>
					<p>This is just a list of all the elements available in HTML5. You might be surprised
					at how many there are, and how specific they get. The more accurately you can match
					an element to the contents it contains, the better.</p>
				</li>
				<li>
					<a href="http://tympanus.net/codrops/2011/11/24/top-10-reasons-to-use-html5-right-now/">Top 10 Reasons to Use HTML5 Right Now</a>
					<p>A blog post highlighting some of the main features in HTML5, and showing a lot of the powerful and new things
					it can do. It also has a lot of useful and interesting links about how to use HTML5.</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>CSS</h3>
			<ul>
				<li><a href="http://tympanus.net/Development/CreativeButtons//">Creative Button Styles</a>
					<p>A bunch of cool button effects that you can use in your app, use as inspiration, and
						as examples of how to do cool animations with CSS.</p>
				</li>
				<li>
					<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Flexbox Guide</a>
					<p>Flexbox is a newer feature in CSS that allows creating layouts without using
						floats. It solves a lot of problems that used to be total headaches for developers,
						and it's something that is totally worth spending the time to learn. This is a good
						guide with useful pictures as to what all the flexbox CSS properties mean!
					</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>UI/UX</h3>
			<ul>
				<li><a href="https://viljamis.com/2016/typography-for-user-interfaces/?utm_source=designernews/">Typography for User Interfaces</a>
					<p>While you might not spend a lot of time thinking about it, typography is incredibly important
						to creating a usable interface and in supporting your message. While it's a little nerdy, this
						article is an interesting look into it, and gives you some good ways to think about typography.</p>
				</li>
				<li>
					<a href="http://www.theatlantic.com/video/index/265223/dieter-rams-reflects-on-his-principles-of-good-design/">Dieter Rams 10 Principles of Good Design</a>
					<p>Dieter Rams, famous for his product design done for Braun, talks about the 10 principles that he
						sees as common to all good design. These are fantastic guiding concepts that you can use to evalute 
						your websites, as well as to think critically about the products you see around you.</p>
				</li>
			</ul>
		</div>
		
	</div>
	
	
</div>