<div class="week container">
	<div class="row">
			<div class="block block--full">
				<h2>Week 4</h2>
				<h1>The End</h1>
				<div class="block__contents">
					<p>BLAHBLAHBLAHBLAH</p>
				</div>
				<p></p>
			</div>
			
		<div class="col-md-6">
			
		</div>
		
	</div>

	<div class="students-grid projects-grid">
		<div class="row">
			<div class="col-md-4">
				<a href="www.allieivener.com">
					<div class="student">
						<img class="student-pic"  src="./images/allie.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Depindable</h3><h4>Fraci, Allison</h4>
						<div>blah</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="student">
						<img class="student-pic"  src="./images/rafi.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Yoked</h3>
						<h4>Smash, Rachel, Chris</h4>
						<div>Adding value to communication by using technology to make communicating harder. Are you too lazy to get off your ass? Then you're gunna get YOKED!</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://kcha16.github.io/">
					<div class="student">
						<img class="student-pic"  src="./images/refresh.png" alt="">
					</div>
					<div class="caption app-caption">
						<h3>ReFresh<h3>Depindable</h3><h4>JoJo, Nikki, Kelly</h4>
						<div>Sick of wasting money and food because your groceries expire? Use ReFresh to track your groceries' expiration dates and get recipe recommendations to use those soon-to-expire foods!</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<a href="http://ejelliott.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/ej.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>Cap That<h3>Depindable</h3><h4> Kevin, Sahil, Sam</h4>
						<div>blah</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://sahil505.github.io">
					<div class="student">
						<img class="student-pic" src="./images/sahil.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>???<h3>Depindable</h3><h4> Michael, Christine, Pietro</h4>
						<div>blah</div>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://stephkwok01.github.io">
					<div class="student">
						<img class="student-pic"  src="./images/steph.jpg" alt="">
					</div>
					<div class="caption app-caption">
						<h3>???<h3>Depindable</h3><h4> Stella, EJ, Steph</h4>
						<div>blah</div>
					</div>
				</a>
			</div>
</div>
<!-- final projects -->

<!-- more resources -->

<!-- memory pics -->

<!-- message from teachers -->